.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    width: 700px;
  }
  
.flex-container > #a { 
    background-image: url("pic/a.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
    font-size: 30px;
}
.flex-container > #s {
    background-image: url("pic/s.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
    font-size: 30px;
}
.flex-container > #d {
    background-image: url("pic/d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
    font-size: 30px;
}
.flex-container > #space {
    background-image: url("pic/space.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
    font-size: 30px;
}
.flex-container > #w {
    background-image: url("pic/w.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
    font-size: 30px;
}