body
{   
    margin: 0;
    padding: 0;
    background-color: #b6c8c6;    
   
   }

.sky
{
    top: 0;
    margin: 0px;
    padding: 0px;
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 15%;
    background-repeat: no-repeat;
    background-image: url("pic/sun.png");
    background-size:contain;
    z-index: -2;
}
.ground
{
    margin: 0%;
    padding: 0%;
    width: 1000px;
    height: 270px;
    position: absolute;
    top : 54%;
    left: 0%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("pic/ground.png");
   
}
.ground2
{
    margin: 0%;
    padding: 0%;
    width: 250px;
    height: 270px;
    position: absolute;
    top : 57%;
    left: 80%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("pic/ground2.png");
   
}
.ground3
{
    margin: 0%;
    padding: 0%;
    width: 250px;
    height: 270px;
    position: absolute;
    top : 56%;
    left: 70%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("pic/ground2.png");
   
}
.man1
{
    margin: 0%;
    padding: 0%;
    width: 100px;
    height: 100px;
    position: absolute;
    top : 45%;
    left: 80%;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url("pic/man.png");
    background-size:cover;
}
.man2
{
    margin: 0%;
    padding: 0%;
    width: 100px;
    height: 100px;
    position: absolute;
    top : 45%;
    left: 72%;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url("pic/man.png");
    background-size:cover;
}
.man3
{
    margin: 0%;
    padding: 0%;
    width: 100px;
    height: 100px;
    position: absolute;
    top : 47%;
    left: 87%;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url("pic/man.png");
    background-size:cover;
}
.sun
{
    margin: 0%;
    padding: 0%;
    width: 200px;
    height: 200px;
    position: absolute;
    top : 0px;
    left: 40%;
    z-index: -3;
    background-repeat: no-repeat;
    background-image: url("pic/sss.png");
    background-size:contain;
}

.build
{
    margin: 0%;
    padding: 0%;
    width: 700px;
    height: 300px;
    position: absolute;
    top : 25%;
    left: 25%;
    z-index: -2;
    background-repeat: no-repeat;
    background-image: url("pic/build.png");
    background-size:contain;
}
.flag
{
    margin: 0%;
    padding: 0%;
    width: 400px;
    height: 400px;
    position: absolute;
    top : 20%;
    left: 0%;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url("pic/flag.png");
    background-size:cover;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(141, 111, 62, 0.808);
    width: 600px;
    position: absolute;
    top : 75%;
    left: 25%
  }
  #demo
{
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}



.flex-container > #d1 { 
    background-image: url("pic/a.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}
.flex-container > #d2 {
    background-image: url("pic/s.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}
.flex-container > #d3 {
    background-image: url("pic/d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}
.flex-container > #d4 {
    background-image: url("pic/space.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}
.flex-container > #d5 {
    background-image: url("pic/w.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}

.gold
{
    display: inline-block;
    background-image: url("pic/gold.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 100px;
    width: 100px;
    font-size: 30px;
    position: absolute;
    top : 70%;
    left: 15%;
}
#demo
{
    position: absolute;
    top : 85%;
    left: 15%;
    height: 10px;  
}

