body
{
    padding: 1%;
    margin: 0%;
    width: 1000px;
    height: 300px;
    background-image: url("pic/sun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    width: 600px;
    position: absolute;
    top : 60%;
    left: 25%
  }
  #demo
{
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}

.play
{
    position: absolute;
    top : 60%;
    left: 10%
}


.flex-container > #d1 { 
    background-image: url("pic/a.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}
.flex-container > #d2 {
    background-image: url("pic/s.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}
.flex-container > #d3 {
    background-image: url("pic/d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}
.flex-container > #d4 {
    background-image: url("pic/space.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}
.flex-container > #d5 {
    background-image: url("pic/w.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
}

.gold
{
    display: inline-block;
    background-image: url("pic/gold.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 100px;
    margin: 10px;
    text-align: center;
    height: 75px;
    font-size: 30px;
}

